<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-7.0</platform>
    <feature>restfulWS</feature>
    <feature>jsonp</feature>
    <feature>jsonb</feature>
    <feature>cdi</feature>
    <feature>mpConfig</feature>
    <!-- tag::mpMetrics[] -->
    <feature>mpMetrics</feature>
    <!-- end::mpMetrics[] -->
   <feature>mpRestClient</feature>
 </featureManager>

  <variable name="http.port" defaultValue="9080"/>
  <variable name="https.port" defaultValue="9443"/>

  <applicationManager autoExpand="true" />
  <!-- tag::quickStartSecurity[] -->
  <quickStartSecurity userName="admin" userPassword="adminpwd"/>
  <!-- end::quickStartSecurity[] -->
  <httpEndpoint host="*" httpPort="${http.port}"
      httpsPort="${https.port}" id="defaultHttpEndpoint"/>
  <webApplication location="guide-microprofile-metrics.war" contextRoot="/"/>
</server>
